/* Classes
project
project-description */
:root {
    --primary-color: #020808;
    --secondary-color: #876a08;
    --light-text-color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start Header styling */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    background-color: var(--primary-color);
}

header h1 {
    font-size: 24px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light-text-color);
    font-weight: lighter;
}

header a {
    text-decoration: none;
    color: var(--light-text-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 10px;
    margin: 2px;
    font-weight: lighter;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    border-radius: 15px;
}

.hero {
    background-image: url("../images/lines.jpeg");
    background-size: cover;
    height: 200px;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

